{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Permission Control{% endblock %}

{% block main %}
    <section class="admin-recent-panel">
        <div class="panel-head">
            <h4>Role-Based Access Matrix</h4>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Feature</th>
                    <th>Support</th>
                    <th>Manager</th>
                    <th>Super Admin</th>
                </tr>
                </thead>
                <tbody>
                {% for row in matrix %}
                    <tr>
                        <td>{{ row.feature }}</td>
                        <td>{{ row.support ? 'Yes' : 'No' }}</td>
                        <td>{{ row.manager ? 'Yes' : 'No' }}</td>
                        <td>{{ row.super_admin ? 'Yes' : 'No' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

